h1 {
    text-align: center;
    font-family: "cursive", "Lucida Handwriting";
    margin-top: 20px;
    margin-right: 50px;
}
.img { 
    display: flex; 
    height: 100px;
    margin-left: 400px;
    margin-top: 50px;
}
h2 {
    text-align: center;
    margin-top: 50px;
    font-family: "cursive", "Lucida Handwriting";
}
hr {
    height: 10px;
    background-color:brown; 
}
.gg {
    height: 60px;
    background-color: brown;
    margin-bottom: 50px;
    padding: 15px;
    gap: 150px;
    justify-content: center;
    display: flex;
}
.gg a {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: 0.15s;
}
.gg a:hover {
    transform:scale(1.2);
}
.jidlo {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    gap: 1px;
    margin-left: -150px;
    height: 250px;
}
.img2 {
    border: 5px;
    border-style: solid;
    border-color: black;
}
.copyright {
    margin-top: 20%;
    text-align: center;
}
.jidlo2 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    gap: 1px;
    margin-left: -150px;
    height: 250px;
}