* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#f40303, #f40303 45%, #fff 45%, #fff 100%);
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin-left: -400px;
}

.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .detail h2 {
  color: #444;
  font-size: 1.6em;
  font-weight: bolder;
}

.content .detail h2 span {
  font-size: 0.7em;
  color: #03a9f4;
  font-weight: bold;
}

.sci {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.sci li {
  list-style: none;
  margin: 4px;
}

.sci li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.sci li a:hover {
  background: #03a9f4;
  color: #fff;
}
.gg {
    height: 120px;
    background-color: brown;
    margin-top: -650px;
    padding: 15px;
    gap: 65px;
    justify-content: center;
    display: flex;
}
.gg a {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: 0.15s;
}
.gg a:hover {
    transform:scale(1.2);
}
.gg img {
    margin-left: -100px;
}
.karty {
    gap: 450px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-left: -400px;
}
.contact-row{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-frame{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: -400px;
    text-align: center;
}

.contact-frame .profile{
    display: block;
    align-self: center;
    width: 280px;
    height: 280px;

    object-fit: cover;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.15s;
}

.contact-frame img:hover{
    transform: scale(1.02);
}

.contact-frame h2{
    font-weight: 500;
    margin-left: 20px;
    text-align: left;
    font-size: 26px;
    margin-bottom: 1px;
    text-align: center;
}
.contact-frame p{
    font-weight: 300;
    margin-left: 20px;
    margin-top: 2px;
    text-align: left;
    font-size: 18px;
    color: gray;
}

.contact-frame .link{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 5px;
}

.contact-frame .link img{
    width: 35px;
    height: 35px;
    transition: 0.15s;
}

.contact-frame .link img:hover{
    transform: scale(1.1);
}